fastapi
uvicorn[standard]
langchain
chromadb
pypdf
python-docx
sentence-transformers
langchain-community
langchain-huggingface
langgraph
langchain-openai
python-dotenv
aiofiles
requests
pymupdf
python-pptx
openpyxl
moviepy<2.0.0
openai-whisper
dashscope
rank-bm25
jieba
torch
Pillow
numpy<2.0.0
python-multipart
pydub
docxtpl
pandas
reportlab
watchdog
